/*
 *  colors
 */
:root {
  /* site colors */
  --orange: #F5841F;
  --robin-egg: #3DC2D1;
  --gray: #54565b;
  --light-gray: #C8C8C8;
  --black: #101820;
  --white: #FFFFFF;

/*
 *  remark changes
 */
.remark-slide-number {
  color: var(--orange) !important;
}

/*
 *  custom classes
 */

.oreally img {
  width: 50%;
}